@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  overflow: hidden;
}

.container{
  width: 100vw;
  height: 100vh;
  background: url(./back-img.jpg) center no-repeat;
  background-position: top;
  background-size: cover;
}

.container .sidebar{
  position: fixed;
  width: 280px;
  left: -280px;
  height: 100vh;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}

.sidebar .logo{
  position: absolute;
  width: 100%;
  padding: 0 20px;
  height: 60px;
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}

.sidebar .logo a{
  position: absolute;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  line-height: 60px;
  height: 50px;
  text-decoration: none;
}

.sidebar .menu{
  position: absolute;
  top: 80px;
  width: 100%;
}

.sidebar .menu li{
  margin-top: 6px;
  padding: 14px 20px;
  transition: all 0.3s linear;
}

.sidebar .menu i{
  color: #fff;
  font-size: 20px;
  padding-right: 8px;
}

.sidebar .menu a{
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.sidebar .menu li:hover{
  border: 1px solid #fff;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

/* check */

#check{
  display: none;
}

.container .btn-one i{
  position: absolute;
  left: 16px;
  font-size: 30px;
  color: #fff;
  line-height: 60px;
  font-weight: 700;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s linear;
}

.sidebar .btn-two i{
  color: #fff;
  position: absolute;
  left: 240px;
  line-height: 60px;
  font-size: 25px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s linear;
}

.btn-one i:hover{
  font-size: 29px;
}

.btn-two i:hover{
  font-size: 24px;
}

#check:checked ~ .sidebar{
  left: 0px;
}

#check:checked ~ .btn-one i{
  opacity: 0;
}

#check:checked ~ .sidebar .btn-two i{
  opacity: 1;
}
